<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.totemworks.thor3-remind</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/curl</string>
		<string>-s</string>
		<string>http://localhost:3000/api/remind?key=thor3</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>6</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>/tmp/thor3-remind.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/thor3-remind.log</string>
</dict>
</plist>
